# ST 生成器

- 总结 ST (Structured text) 语言的语法
- 自动化生成 ST 代码
- 使用生成的代码测试 openplc 中使用的 iec2c

In [285]:
from fuzzingbook.Grammars import EXPR_EBNF_GRAMMAR, srange, convert_ebnf_grammar, Grammar, Expansion, CHARACTERS_WITHOUT_QUOTE
from fuzzingbook.Grammars import is_valid_grammar, exp_string
from fuzzingbook.GrammarFuzzer import EvenFasterGrammarFuzzer
from fuzzingbook.GrammarCoverageFuzzer import GrammarCoverageFuzzer
from fuzzingbook.bookutils import print_file
import string
import subprocess
import os
import tempfile

## ST 语法

[ST 语法参考](https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.49.2016&rep=rep1&type=pdf)


使用 openplc Editor 软件编写并生成的一段 ST 代码如下，该代码可导入到 openplc Runtime 中运行。

```iecst
PROGRAM program0
  VAR
    PB1 : BOOL;
    PB2 : BOOL;
    LED : BOOL;
  END_VAR

  IF PB1 THEN
    LED := TRUE;
  END_IF;

  IF PB2 THEN
    LED := FALSE;
  END_IF;
END_PROGRAM


CONFIGURATION Config0

  RESOURCE Res0 ON PLC
    TASK task0(INTERVAL := T#20ms,PRIORITY := 0);
    PROGRAM instance0 WITH task0 : program0;
  END_RESOURCE
END_CONFIGURATION
```
PROGRAM 部分是我们主要考虑的。

### 数据类型

https://en.wikipedia.org/wiki/IEC_61131-3

#### 基本数据类型

- 整数
- 浮点数
- 时间
- 字符串
- 布尔



#### 组合数据类型


- ARRAY
- STRUCT
- UNION
- Sub-range

```iecst
// 结构体
TYPE Rectangle :
    STRUCT
    TopLeft : Point;
    Height : INT;
    Width : INT;
    END_STRUCT;
END_TYPE

// 枚举
TYPE Color :
    (Red, White, Blue);
END_TYPE

// Sub-ranges
TYPE Angle :
    INT(-180..+180);
END_TYPE


// 数组
TYPE Display :
    ARRAY[1..768, 1..1024] OF Color;
END_TYPE

```

### 赋值语句 Assignments

```iecst
VarA := (VarB * 24 MOD 2 = 1) XOR (VarC <= VarD + 34);

(* AnArray is an array containing twenty integers *)
AnArray := 10(1), 5(2), 5(3);

VarA := AND(Var1, Var2, ..., VarN);
```
一些运算符可以有任何数量的参数（相同类型）

In [286]:
# A.3
ST_ASSIGNMENTS_EBNF: Grammar = {
    "<AssignmentStatement>":
        ["<Variable> := <Expression>\n"],
}

### 函数调用语句 Function calls


*先不考虑*

注意，ST中不允许递归调用函数。

> Note that, strictly speaking, the FUNCTION … END_FUNCTION and the VAR … END_VAR constructs mentioned in this paragraph do not belong to the Structured text programming language, as discussed earlier.

```iecst
FUNCTION_BLOCK FB_Timed_Counter
    VAR_INPUT
        // ...
    END_VAR
    
    VAR_OUTPUT
        // ...
    END_VAR
    
    VAR
        // ...
    END_VAR
        
    // Start of Function Block programming
    
END_FUNCTION_BLOCK

// 另一种写法？
FUNCTION Ave_REAL : REAL
    VAR_INPUT
        Input1, Input2 : REAL;
    END_VAR
    Ave_REAL := (Input1 + Input2) / 2;
END_FUNCTION
Average1 := Ave_REAL(5.0, 4.0);
Average2 := Ave_REAL(Input2 := 6.0);
(* Value 3.0 assigned to Average2 *)


```

In [287]:
# A.4
# TODO

### 条件分支语句 Conditional statements

注意 等于号 `=` 和 赋值号 `:=` 的区别


```iecst
IF VarB > 0 THEN
  IF VarC = 3 THEN
    VarA := TRUE;
  ELSE
    VarC := 3;
    VarA := FALSE;
  END_IF;
ELSIF VarB < 0 THEN
  VarA := FALSE;
ELSE
  VarC := 3;
  VarA := TRUE;
END_IF;


CASE Var233 OF
  0: 
  1:
ELSE
  
END_CASE;

```

In [288]:
# A.5
_ST_IF_S = ["""
IF <Expression> THEN  
    <StatementList>
(ELSIF <Expression> THEN
    <StatementList>)*
(ELSE
    <StatementList>)?
END_IF"""]


_ST_CASE_S = ["""
CASE <Expression> OF
    <CaseElement>+
(ELSE
    <StatementList>)?
END_CASE"""]

ST_SELECTION_STATEMENT_EBNF: Grammar = {
    "<SelectionStatement>":
        ["<IfStatement>", "<CaseStatement>"],
    "<IfStatement>": 
        _ST_IF_S,
    "<CaseStatement>": 
        _ST_CASE_S,
    "<CaseElement>": 
        ["<CaseList> : <StatementList>\n"],
    "<CaseList>":
        ["<CaseListElement> (, <CaseListElement>)*"],
    "<CaseListElement>":
        # ["<Subrange>", "<SignedInteger>"], TODO
        ["<SignedInteger>"],
}

### 迭代循环语句 Iteration statements

3 种迭代循环语句

```iecst
FOR VarB := 1 TO VarC DO
  VarD := VarD + 1;
  VarE := 2 * VarE;
END_FOR;

FOR VarB := 100 TO 0 BY –2 DO
  VarD := VarD + VarB;
END_FOR;

WHILE VarA AND (VarD <= VarC) DO
  VarD := VarD + 1;
  VarE := 2 * VarE;
  VarA := VarE < 100;
END_WHILE;

REPEAT
  VarD := VarD + 1;
  VarE := 2 * VarE;
  VarA := VarE < 100;
UNTIL NOT(VarA AND (VarD <= VarC));
END_REPEAT;

```

In [289]:
# A.6

_ST_FOR_S = ["""
FOR <ControlVariable> := <ForList> DO
    <StatementList>
END_FOR"""]

_ST_WHILE_S = ["""
WHILE <Expression> DO
    <StatementList>
END_WHILE"""]

_ST_REPEAT_S = ["""
REPEAT
    <StatementList>
UNTIL <Expression>
END_REPEAT"""]

_ST_EXIT_S = ["EXIT"]

ST_ITERATION_STATEMENT_EBNF: Grammar = {
    "<IterationStatement>":
        ["<ForStatement>", 
         "<WhileStatement>", 
         "<RepeatStatement>",
         "<ExitStatement>",],
    "<ForStatement>":
        _ST_FOR_S,
    "<ControlVariable>":
        # ["<Identifier>"], TODO
        ["<Variable>"],
    "<ForList>":
        ["<Expression> TO <Expression> (BY <Expression>)?"],
    "<WhileStatement>":
        _ST_WHILE_S,
    "<RepeatStatement>":
        _ST_REPEAT_S,
    "<ExitStatement>":
        _ST_EXIT_S,
}

### 其他程序结构


#### 基础表达式

In [290]:
# 参照 A.1
# TODO
ST_EXPRESSIONS_EBNF: Grammar = {
    "<Expression>":
        ["<XOR_Expression> (OR <XOR_Expression>)*"],
    "<XOR_Expression>":
        ["<AND_Expression> (XOR <AND_Expression>)*"],
    "<AND_Expression>":
        ["<Comparison> (AND <Comparison>)*"],
    "<Comparison>":
        ["<EquExpression> (= <EquExpression>)*"],
        #  "<EquExpression> (<> <EquExpression>)*",], TODO 转义
    "<EquExpression>":
        ["<AddExpression> (<ComparisonOperator> <AddExpression>)*"],
    "<ComparisonOperator>":
        ["<", ">", "<=", ">="],
    "<AddExpression>":
        ["<term> (<AddOperator> <term>)*"],
    "<AddOperator>":
        ["+", "-"],
    
    # 以下是对fuzzingbook的稍作修改 TODO
    "<expr>":
        ["<term> + <expr>", "<term> - <expr>", "<term>"],

    "<term>":
        ["<factor> * <term>", "<factor> / <term>", "<factor>"],

    "<factor>":
        ["<factor>", "(<expr>)", "<SignedInteger>(.<SignedInteger>)?", "<Variable>"],

    "<sign>":
        [" NOT ", " -"],

    "<SignedInteger>":
        ["<sign>?<digit>+"],

    "<digit>":
        srange(string.digits),
        
    # 类型变量
    "<Variable>":
        ["VarWillBeReplace"], 

}

"""

"""

'\n\n'


#### 整体结构

In [291]:
# 参照 A.2
ST_STATEMENTS_EBNF: Grammar = {
    "<StatementList>":
        ["(<Statement>;\n)+"],
    "<Statement>":
        ["<AssignmentStatement>\n", # 赋值语句
        #"<Function-statements>",  # 函数语句
         "<SelectionStatement>", # 条件语句
         "<IterationStatement>"], # 循环语句
}

## ST EBNF

### 根据 PASCAL 试试看

> 方括号划界可选构建体；`{}` 表示封闭构造的零或更多重复；`()` 表示构造的简单分组；`|` 表示从许多人中选择一个；定义中的文字使用粗体字体或双引号标记表示。

> EBNF operators – `?` becomes (0,1), `*` becomes (0,), and `+` becomes (1,). 

```ebnf

```

In [292]:
LOW_LEVEL_EBNF: Grammar = {
    "<variable-list>":
        ["<variable>", "<variable-list> , <variable>"],
    "<identifier-list>":
        ["<identifier>", "<identifier-list> , <identifier>"],
    "<expression-list>":
        ["<expression>", "<expression-list> , <expression>"],
    "<number>":
        ['<integer_number>', '<real_number>'],
    "<integer_number>":
        ['<digit_sequence>'],
    "<real_number>":
        ['<digit_sequence>(.<digit_sequence>)?<scale_factor>?'],
    "<scale_factor>":
        ["E<sign>?<digit_sequence>","e<sign>?<digit_sequence>"],  
    "unsigned_digit_sequence":
        ["<digit>+"],
    "<digit_sequence>":
        ["<sign>?<unsigned_digit_sequence>"],
    "<sign>":
        [" +", " -"],
    "<letter>":
        srange(string.ascii_letters),
    "<digit>":
        srange(string.digits),
    "<string>":
        ["'<string_character>+'"],
    "<string_character>":
        srange(CHARACTERS_WITHOUT_QUOTE) + ["''"],  # ?
    "<label>":
        ["integer_number"],
    "<constant>":
        [""],  # TODO: [ sign ] (constant_identifier | number) | string
}

VARIABLE_IDENTIFIER_EBNF: Grammar = {
    "<identifier>": # TODO = letter { letter | digit } 
        ["<letter>+"],
    "<file-variable>":
        ["<variable>"],
    "<referenced-variable>":
        ["<pointer-variable>^"], # ?
    "<record-variable>":
        ["<variable>"],
    "<pointer-variable>":
        ["<variable>"],
    "<actual-variable>":
        ["<variable>"],
    "<array-variable>":
        ["<variable>"],
    "<field-identifier>":
        ["<identifier>"],
    "<constant-identifier>":
        ["<identifier>"],
    "<variable-identifier>":
        ["<identifier>"],
    "<type-identifier>":
        ["<identifier>"],
    "<procedure-identifier>":
        ["<identifier>"],
    "<function-identifier>":
        ["<identifier>"],
    "<bound-identifier>":
        ["<identifier>"],
}

# INPUT_OUTPUT_EBNF 
# Record Fields
# Types

PASCAL_EBNF_GRAMMAR: Grammar = {
    "<start>":
        ["<variable-list>"],
    **LOW_LEVEL_EBNF,
}
# assert is_valid_grammar(PASCAL_EBNF_GRAMMAR)
pascal_grammar = convert_ebnf_grammar(PASCAL_EBNF_GRAMMAR)
# assert is_valid_grammar(pascal_grammar)

### ST 语言 EBNF 自顶而下构建


1. 先生成变量列表
2. 根据变量列表生成程序主体

*时间有限，此处构建的仅为 ST 语言的子集*

范式：

```iecst
PROGRAM program0
  VAR
    // 生成变量列表
  END_VAR
  // 生成程序主体
END_PROGRAM


CONFIGURATION Config0

  RESOURCE Res0 ON PLC
    TASK task0(INTERVAL := T#20ms,PRIORITY := 0);
    PROGRAM instance0 WITH task0 : program0;
  END_RESOURCE
END_CONFIGURATION
```

#### 变量列表 EBNF

In [293]:
ST_VAR_EBNF_GRAMMAR: Grammar = {
    "<start>":
        ["<变量声明语句>+"],
    "<变量声明语句>":
        ["<variable-name> : <variable-type>;\n"],
    "<variable-name>": # 形如 Var233
        ["Var<digit>+"],
    "<variable-type>": # 形如 INT REAL
        ["INT", "REAL", "STRING", "BOOL"],
    "<digit>":
        srange(string.digits)
} # 之后用随机选取变量名和类型的方法替代了

#### 程序主体 EBNF

In [294]:
ST_BODY_EBNF_GRAMMAR: Grammar = {
    "<start>":
        ["<StatementList>"],
    **ST_STATEMENTS_EBNF,
    **ST_EXPRESSIONS_EBNF,
    **ST_ASSIGNMENTS_EBNF,
    **ST_ITERATION_STATEMENT_EBNF,
    **ST_SELECTION_STATEMENT_EBNF,
}
assert is_valid_grammar(ST_BODY_EBNF_GRAMMAR)

## ST 生成

`GrammarCoverageFuzzer`

> Subsequent calls to `fuzz()` will go for further coverage (i.e., covering the other area code digits, for example); a call to `reset()` clears the recored coverage, starting anew.

In [308]:
import numpy as np


ST_DATA_TYPES = ["INT", "REAL", "STRING", "BOOL"]
ST_DATA_TYPES_W = [0,0,0,1]
assert sum(ST_DATA_TYPES_W) == 1



st_vars = {}
for i in range(np.random.randint(10)):
    st_vars[f'Var{np.random.randint(100)}'] = np.random.choice(ST_DATA_TYPES, p=ST_DATA_TYPES_W)
st_vars_s = ""
for i in st_vars:
    st_vars_s += f"        {i} : {st_vars[i]};\n"
    
# print(st_vars_s)
# print([*st_vars])

In [309]:
ST_BODY_EBNF_GRAMMAR["<Variable>"] = [*st_vars]
fbody = GrammarCoverageFuzzer(convert_ebnf_grammar(ST_BODY_EBNF_GRAMMAR),start_symbol="<start>",max_nonterminals=20)
body_s = fbody.fuzz()
# print(body_s)

In [310]:
# 块拼接
MODEL_STR = f"""
PROGRAM program0
  VAR
{st_vars_s}
  END_VAR
  
{body_s}

END_PROGRAM
"""

# 写入文件
with open("st_gen.st", "w") as f:
    f.write(MODEL_STR)
print(MODEL_STR)

PROGRAM program0
  VAR
        Var30 : BOOL;
        Var10 : BOOL;
        Var86 : BOOL;
        Var67 : BOOL;
        Var61 : BOOL;

  END_VAR

Var86 := Var30    AND Var67     OR Var61     XOR Var30    XOR Var61

;

CASE Var10       OF
    6  : EXIT;

5  : EXIT;


ELSE
    EXIT;
EXIT;
EXIT;

END_CASE;


END_PROGRAM

## 测试

### 单个测试

In [314]:
program = "/home/hxn/下载/OpenPLC_Editor/matiec/iec2c"
FILE = "st_gen.st"
arg = [program,
       "-f",
       "-l",
       "-p",
       "-I", "/home/hxn/下载/OpenPLC_Editor/matiec/lib",
       "-T", "/home/hxn/桌面/ST_study/openPLC_project_test/build",
       FILE]
# -f // 在错误消息上显示完整的位置
# -l // 使用宽松的数据类型等价模型       (a non-standard extension?)
# -p // 允许使用前向引用               (a non-standard extension?)
# -I // include_directory
# -T // target_directory
result = subprocess.run(arg,
                        stdin=subprocess.DEVNULL,
                        stdout=subprocess.PIPE,
                        stderr=subprocess.PIPE,
                        universal_newlines=True)  # Will be "text" in Python 3.7

print(">>>stdout")
print(result.stdout)
print(">>>stderr")
print(result.stderr)
print(">>>returncode")
print(result.returncode)

>>>stdout
POUS.c
POUS.h
LOCATED_VARIABLES.h
VARIABLES.csv

>>>stderr

>>>returncode
0

### 循环测试

In [312]:
basename = "st_gen.st"
tempdir = tempfile.mkdtemp()
FILE = os.path.join(tempdir, basename)
program = "/home/hxn/下载/OpenPLC_Editor/matiec/iec2c"
arg = [program,
       "-f",
       "-l",
       "-p",
       "-I", "/home/hxn/下载/OpenPLC_Editor/matiec/lib",
       "-T", tempdir,
       FILE]
# -f // 在错误消息上显示完整的位置
# -l // 使用宽松的数据类型等价模型       (a non-standard extension?)
# -p // 允许使用前向引用               (a non-standard extension?)
# -I // include_directory
# -T // target_directory

REPEAT_TIMES = 100
retuencodes = []

for i in range(REPEAT_TIMES):
    
    # 生成随机变量
    st_vars = {}
    for j in range(np.random.randint(1,20)):
        st_vars[f'Var{np.random.randint(100)}'] = np.random.choice(ST_DATA_TYPES, p=ST_DATA_TYPES_W)
    st_vars_s = ""
    for j in st_vars:
        st_vars_s += f"        {j} : {st_vars[j]};\n"
    
    ST_BODY_EBNF_GRAMMAR["<Variable>"] = [*st_vars]
    fbody = GrammarCoverageFuzzer(convert_ebnf_grammar(ST_BODY_EBNF_GRAMMAR),start_symbol="<start>",max_nonterminals=20)

    # 块拼接
    MODEL_STR = f"""
PROGRAM program0
    VAR
{st_vars_s}
    END_VAR

{fbody.fuzz()}

END_PROGRAM
"""
    # 写入文件
    with open(FILE, "w") as f:
        f.write(MODEL_STR)
    
    result = subprocess.run(arg,
                            stdin=subprocess.DEVNULL,
                            stdout=subprocess.PIPE,
                            stderr=subprocess.PIPE,
                            universal_newlines=True)  # Will be "text" in Python 3.7

    # print(result.returncode)
    retuencodes.append(result.returncode)
    if result.returncode not in [0]:
        print(">>>stdout")
        print(result.stdout)
        print(">>>stderr")
        print(result.stderr)
        print(">>>returncode")
        print(result.returncode)
        print(">>>FILE")
        print(MODEL_STR)
    if i % 50 == 0:
        print(f"{i}/{REPEAT_TIMES} done")
print("DONE, pass rate: ",retuencodes.count(0)/REPEAT_TIMES)

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:21-6..21-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:21-19..21-51: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:21-61..21-79: error: Invalid data type for 'FOR' end expression.
/tmp/tmp4n2cor7_/st_gen.st:21-88..21-120: error: Invalid data type for 'FOR' by expression.
/tmp/tmp4n2cor7_/st_gen.st:26-13..26-16: error: 'CASE' quantity not an integer or enumerated.
5 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var15 : BOOL;
        Var68 : BOOL;
        Var62 : BOOL;
        Var60 : BOOL;
        Var28 : BOOL;
        Var41 : BOOL;
        Var57 : BOOL;
        Var22 : BOOL;
        Var3 : BOOL;
        Var44 : BOOL;
        Var40 : BOOL;
        Var56 : BOOL;
        Var19 : BOOL;

    END_VAR


FOR Var19 := Var15     XOR Var68    XOR Var56      TO Var41      OR Var44      BY Var40     XOR Var62     OR Var28      DO
    Var22 := Var60

;

CASE Var3       OF
    5  : EXIT;



END_CASE;
EXIT;

END_FOR;


END_PROGRAM

0/100 done
>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:20-5..20-17: error: Data type mismatch for '=' expression.
/tmp/tmp4n2cor7_/st_gen.st:20-32..20-44: error: Data type mismatch for '*' expression.
2 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var2 : BOOL;
        Var33 : BOOL;
        Var82 : BOOL;
        Var90 : BOOL;
        Var65 : BOOL;
        Var76 : BOOL;
        Var55 : BOOL;
        Var34 : BOOL;
        Var32 : BOOL;
        Var62 : BOOL;
        Var39 : BOOL;
        Var88 : BOOL;

    END_VAR


IF 3   = Var82  = Var90   AND Var34 * Var88 + Var65     THEN

WHILE Var39       DO
    EXIT;

END_WHILE;
Var62 := Var76     XOR Var32     OR Var55

;



END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:26-7..26-37: error: 'CASE' quantity not an integer or enumerated.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var94 : BOOL;
        Var37 : BOOL;
        Var88 : BOOL;
        Var69 : BOOL;
        Var47 : BOOL;
        Var22 : BOOL;
        Var90 : BOOL;
        Var96 : BOOL;
        Var78 : BOOL;
        Var23 : BOOL;
        Var95 : BOOL;
        Var83 : BOOL;
        Var82 : BOOL;
        Var32 : BOOL;
        Var6 : BOOL;

    END_VAR

Var47 := Var96     XOR Var78     OR Var37

;

CASE Var90      OR Var32     OR Var69      OF
    1 , 8 : EXIT;


ELSE
    EXIT;

END_CASE;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:33-6..33-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:33-21..33-25: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:33-37..33-41: error: Invalid data type for 'FOR' end expression.
3 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var2 : BOOL;
        Var21 : BOOL;
        Var47 : BOOL;
        Var85 : BOOL;
        Var40 : BOOL;
        Var23 : BOOL;
        Var8 : BOOL;
        Var72 : BOOL;
        Var29 : BOOL;
        Var62 : BOOL;
        Var31 : BOOL;
        Var15 : BOOL;
        Var64 : BOOL;
        Var79 : BOOL;
        Var4 : BOOL;
        Var88 : BOOL;
        Var58 : BOOL;
        Var14 : BOOL;

    END_VAR


REPEAT

WHILE Var4       DO
    EXIT;

END_WHILE;

FOR Var58 := Var62       TO Var64        DO
    EXIT;

END_FOR;

UNTIL Var15   = Var79   AND Var21
END_REPEAT;

IF Var29      OR Var85     OR Var31      THEN
    Var23 := Var2      OR Var88

;


ELSE
    EXIT;

END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:13-6..13-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:13-19..13-64: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:13-76..13-80: error: Invalid data type for 'FOR' end expression.
/tmp/tmp4n2cor7_/st_gen.st:15-13..15-17: error: 'CASE' quantity not an integer or enumerated.
4 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var91 : BOOL;
        Var28 : BOOL;
        Var92 : BOOL;
        Var12 : BOOL;
        Var14 : BOOL;

    END_VAR


FOR Var92 := Var28     XOR Var14     OR Var91     OR Var14      TO Var12        DO

CASE Var28       OF
    1  : EXIT;

8  : EXIT;



END_CASE;
Var91 := Var92

;
EXIT;
EXIT;

END_FOR;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:34-6..34-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:34-21..34-25: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:34-37..34-41: error: Invalid data type for 'FOR' end expression.
3 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var56 : BOOL;
        Var17 : BOOL;
        Var24 : BOOL;
        Var12 : BOOL;
        Var6 : BOOL;
        Var79 : BOOL;
        Var45 : BOOL;
        Var92 : BOOL;

    END_VAR


IF Var92    AND Var12      THEN
    Var6 := Var12      OR Var79

;
EXIT;
EXIT;
EXIT;

ELSIF Var24      OR Var56      THEN
    EXIT;

ELSE

WHILE Var45       DO
    EXIT;

END_WHILE;

FOR Var17 := Var79       TO Var79        DO
    EXIT;

END_FOR;

END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:21-19..21-30: error: Data type mismatch for '*' expression.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var73 : BOOL;
        Var80 : BOOL;
        Var59 : BOOL;
        Var56 : BOOL;
        Var85 : BOOL;
        Var77 : BOOL;
        Var39 : BOOL;
        Var43 : BOOL;
        Var29 : BOOL;
        Var92 : BOOL;
        Var9 : BOOL;
        Var89 : BOOL;
        Var5 : BOOL;
        Var95 : BOOL;

    END_VAR

Var77 := Var29 + Var92 * Var85 <= Var89

;

WHILE Var95    AND Var39    XOR Var56     OR Var9      DO

IF Var43       THEN
    EXIT;



END_IF;

END_WHILE;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:15-11..15-67: error: 'CASE' quantity not an integer or enumerated.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var58 : BOOL;
        Var46 : BOOL;
        Var69 : BOOL;
        Var24 : BOOL;
        Var7 : BOOL;
        Var52 : BOOL;
        Var18 : BOOL;

    END_VAR


CASE Var69     XOR Var46    XOR Var24     OR Var7    AND Var58     OF
    3  : EXIT;
EXIT;

2  :
WHILE Var52       DO
    EXIT;

END_WHILE;



END_CASE;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:18-6..18-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:18-20..18-38: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:18-46..18-91: error: Invalid data type for 'FOR' end expression.
/tmp/tmp4n2cor7_/st_gen.st:18-100..18-118: error: Invalid data type for 'FOR' by expression.
/tmp/tmp4n2cor7_/st_gen.st:20-13..20-16: error: 'CASE' quantity not an integer or enumerated.
5 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var1 : BOOL;
        Var91 : BOOL;
        Var4 : BOOL;
        Var45 : BOOL;
        Var76 : BOOL;
        Var69 : BOOL;
        Var53 : BOOL;
        Var21 : BOOL;
        Var88 : BOOL;
        Var15 : BOOL;

    END_VAR


FOR Var53 := Var76      OR Var91      TO Var45    AND Var88     OR Var21     OR Var91      BY Var69     XOR Var1      DO

CASE Var4       OF
    9  : EXIT;



END_CASE;
EXIT;
Var15 := Var21

;

END_FOR;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:20-12..20-30: error: 'CASE' quantity not an integer or enumerated.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var84 : BOOL;
        Var86 : BOOL;
        Var76 : BOOL;
        Var92 : BOOL;
        Var71 : BOOL;
        Var63 : BOOL;
        Var57 : BOOL;
        Var73 : BOOL;
        Var80 : BOOL;
        Var65 : BOOL;
        Var17 : BOOL;
        Var10 : BOOL;

    END_VAR


CASE Var65      OR Var92      OF
    1  : EXIT;


ELSE
    EXIT;
EXIT;

END_CASE;
Var10 := Var71  > Var80    XOR Var63   = Var76  = Var84   AND Var57

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:30-6..30-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:30-21..30-25: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:30-37..30-40: error: Invalid data type for 'FOR' end expression.
3 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var61 : BOOL;
        Var15 : BOOL;
        Var19 : BOOL;
        Var38 : BOOL;
        Var84 : BOOL;
        Var51 : BOOL;
        Var28 : BOOL;
        Var93 : BOOL;
        Var18 : BOOL;
        Var34 : BOOL;
        Var55 : BOOL;
        Var47 : BOOL;
        Var3 : BOOL;
        Var30 : BOOL;
        Var56 : BOOL;

    END_VAR


IF Var19    AND Var18      THEN
    Var30 := Var84

;

ELSIF Var61      OR Var28      THEN

FOR Var93 := Var15       TO Var3        DO
    EXIT;

END_FOR;
EXIT;
EXIT;

ELSE
    EXIT;
EXIT;
EXIT;

END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:16-11..16-22: error: Data type mismatch for '+' expression.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var52 : BOOL;
        Var66 : BOOL;
        Var62 : BOOL;
        Var9 : BOOL;
        Var79 : BOOL;
        Var85 : BOOL;
        Var46 : BOOL;
        Var27 : BOOL;
        Var25 : BOOL;

    END_VAR

Var79 := Var85 + Var66     OR Var27    AND Var46    XOR Var25    XOR Var62

;

IF Var9       THEN
    EXIT;
EXIT;
EXIT;

ELSIF Var52       THEN
    EXIT;


END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:23-19..23-30: error: Data type mismatch for '/' expression.
/tmp/tmp4n2cor7_/st_gen.st:23-50..23-60: error: Data type mismatch for '*' expression.
2 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var79 : BOOL;
        Var6 : BOOL;
        Var96 : BOOL;
        Var41 : BOOL;
        Var15 : BOOL;
        Var70 : BOOL;
        Var53 : BOOL;
        Var20 : BOOL;
        Var82 : BOOL;
        Var44 : BOOL;
        Var13 : BOOL;
        Var49 : BOOL;
        Var10 : BOOL;
        Var54 : BOOL;
        Var55 : BOOL;
        Var29 : BOOL;

    END_VAR

Var41 := Var70 + Var54 / Var13 > (Var82)    XOR Var15 * Var6  >= Var49  = Var10  = Var44   AND Var20   AND Var55

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:25-7..25-10: error: 'CASE' quantity not an integer or enumerated.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var71 : BOOL;
        Var46 : BOOL;
        Var76 : BOOL;
        Var42 : BOOL;
        Var14 : BOOL;
        Var30 : BOOL;
        Var43 : BOOL;
        Var87 : BOOL;
        Var88 : BOOL;
        Var33 : BOOL;
        Var89 : BOOL;

    END_VAR

Var88 := Var46    AND Var42    XOR Var30     OR Var89     OR Var33

;

WHILE Var14     XOR Var43    XOR Var76      DO
    EXIT;

CASE Var71       OF
    9  : EXIT;



END_CASE;

END_WHILE;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:18-11..18-22: error: Data type mismatch for '*' expression.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var14 : BOOL;
        Var74 : BOOL;
        Var83 : BOOL;
        Var12 : BOOL;
        Var95 : BOOL;
        Var57 : BOOL;
        Var27 : BOOL;
        Var37 : BOOL;
        Var50 : BOOL;
        Var23 : BOOL;
        Var53 : BOOL;

    END_VAR

Var57 := Var53 * Var12 - Var83  = Var95   AND Var23

;

IF Var50      OR Var14     OR Var37      THEN

REPEAT
    EXIT;

UNTIL Var74
END_REPEAT;

ELSIF Var27       THEN
    EXIT;


END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:26-6..26-9: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:26-15..26-18: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:26-30..26-33: error: Invalid data type for 'FOR' end expression.
3 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var11 : BOOL;
        Var60 : BOOL;
        Var85 : BOOL;
        Var55 : BOOL;
        Var6 : BOOL;
        Var62 : BOOL;
        Var64 : BOOL;
        Var63 : BOOL;
        Var92 : BOOL;
        Var35 : BOOL;
        Var78 : BOOL;
        Var70 : BOOL;
        Var7 : BOOL;

    END_VAR

Var62 := Var6  <= Var63  = Var60   AND Var64    XOR Var11   = Var7   AND Var55

;

IF Var92      OR Var35      THEN

FOR Var85 := Var70       TO Var78        DO
    EXIT;

END_FOR;


ELSE
    EXIT;

END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:13-21..13-32: error: Data type mismatch for '+' expression.
/tmp/tmp4n2cor7_/st_gen.st:13-67..13-78: error: Data type mismatch for '*' expression.
2 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var82 : BOOL;
        Var11 : BOOL;
        Var15 : BOOL;
        Var57 : BOOL;
        Var42 : BOOL;
        Var69 : BOOL;

    END_VAR

Var42 :=  -2.1   = Var15 + Var82 >= Var69 = Var42  = Var57   AND Var11 * Var15 - Var69- Var82+ Var42 > Var57

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:12-11..12-18: error: Data type mismatch for '+' expression.
/tmp/tmp4n2cor7_/st_gen.st:16-7..16-37: error: 'CASE' quantity not an integer or enumerated.
2 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var71 : BOOL;
        Var64 : BOOL;
        Var17 : BOOL;
        Var67 : BOOL;
        Var63 : BOOL;

    END_VAR

Var17 := 3 + Var64

;

CASE Var71      OR Var63     OR Var67      OF
    9  : EXIT;
EXIT;

0  : EXIT;



END_CASE;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:16-18..16-29: error: Data type mismatch for '/' expression.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var81 : BOOL;
        Var99 : BOOL;
        Var65 : BOOL;
        Var58 : BOOL;
        Var55 : BOOL;
        Var23 : BOOL;
        Var5 : BOOL;
        Var59 : BOOL;
        Var22 : BOOL;

    END_VAR

Var59 := 3.5  < Var99 / Var81     OR Var58    AND Var23   AND Var55    XOR Var22    XOR Var65    XOR Var5

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:21-12..21-51: error: 'CASE' quantity not an integer or enumerated.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var14 : BOOL;
        Var2 : BOOL;
        Var49 : BOOL;
        Var78 : BOOL;
        Var71 : BOOL;
        Var65 : BOOL;
        Var56 : BOOL;
        Var51 : BOOL;
        Var20 : BOOL;
        Var17 : BOOL;
        Var16 : BOOL;
        Var39 : BOOL;
        Var68 : BOOL;

    END_VAR


CASE Var17      OR Var78   = Var20    XOR Var2     OF
    0  : EXIT;

5  : EXIT;
EXIT;
EXIT;



END_CASE;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:39-6..39-10: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:39-21..39-25: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:39-37..39-40: error: Invalid data type for 'FOR' end expression.
3 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var28 : BOOL;
        Var68 : BOOL;
        Var73 : BOOL;
        Var75 : BOOL;
        Var15 : BOOL;
        Var55 : BOOL;
        Var44 : BOOL;
        Var19 : BOOL;
        Var7 : BOOL;
        Var85 : BOOL;
        Var9 : BOOL;
        Var30 : BOOL;
        Var23 : BOOL;
        Var13 : BOOL;
        Var88 : BOOL;
        Var47 : BOOL;

    END_VAR


IF Var75   = Var88    XOR Var85    AND Var9     THEN
    EXIT;

REPEAT
    EXIT;

UNTIL Var30
END_REPEAT;


ELSE
    Var19 := Var44

;

FOR Var47 := Var28       TO Var7        DO
    EXIT;

END_FOR;

END_IF;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:26-6..26-9: error: Invalid data type for 'FOR' control variable.
/tmp/tmp4n2cor7_/st_gen.st:26-15..26-32: error: Invalid data type for 'FOR' begin expression.
/tmp/tmp4n2cor7_/st_gen.st:26-43..26-60: error: Invalid data type for 'FOR' end expression.
/tmp/tmp4n2cor7_/st_gen.st:26-71..26-74: error: Invalid data type for 'FOR' by expression.
4 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var31 : BOOL;
        Var16 : BOOL;
        Var19 : BOOL;
        Var79 : BOOL;
        Var56 : BOOL;
        Var20 : BOOL;
        Var42 : BOOL;
        Var23 : BOOL;
        Var53 : BOOL;
        Var86 : BOOL;
        Var24 : BOOL;
        Var60 : BOOL;
        Var71 : BOOL;
        Var82 : BOOL;
        Var59 : BOOL;

    END_VAR

Var71 := Var24    AND Var79     OR Var86

;

FOR Var59 := Var56      OR Var82      TO Var16      OR Var60      BY Var31       DO

IF Var42       THEN
    EXIT;



END_IF;
EXIT;
EXIT;
EXIT;

END_FOR;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:26-54..26-70: error: Data type mismatch for '/' expression.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var45 : BOOL;
        Var58 : BOOL;
        Var24 : BOOL;
        Var44 : BOOL;
        Var54 : BOOL;
        Var51 : BOOL;
        Var78 : BOOL;
        Var71 : BOOL;
        Var52 : BOOL;
        Var61 : BOOL;
        Var56 : BOOL;
        Var13 : BOOL;
        Var21 : BOOL;
        Var77 : BOOL;
        Var7 : BOOL;
        Var27 : BOOL;
        Var68 : BOOL;
        Var81 : BOOL;

    END_VAR

EXIT;
Var56 := Var27  >= Var45   AND Var51   = Var7    OR Var44 / Var24     XOR Var68    AND Var52   XOR Var61

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:23-13..23-17: error: 'CASE' quantity not an integer or enumerated.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var75 : BOOL;
        Var40 : BOOL;
        Var80 : BOOL;
        Var21 : BOOL;
        Var65 : BOOL;
        Var57 : BOOL;
        Var83 : BOOL;
        Var3 : BOOL;
        Var79 : BOOL;
        Var22 : BOOL;

    END_VAR


REPEAT
    Var83 := Var21     XOR Var3

;

CASE Var65       OF
    6  : EXIT;



END_CASE;
EXIT;

UNTIL Var75   = Var79   AND Var80     OR Var22     OR Var40     OR Var57     OR Var21     OR Var22
END_REPEAT;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:16-10..16-21: error: Data type mismatch for '/' expression.
1 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var9 : BOOL;
        Var91 : BOOL;
        Var70 : BOOL;
        Var59 : BOOL;
        Var23 : BOOL;
        Var34 : BOOL;
        Var20 : BOOL;
        Var71 : BOOL;
        Var10 : BOOL;

    END_VAR

Var9 := Var91 / Var34    AND Var20   = Var91  = Var10  AND Var10     OR Var70  >= Var59  = Var20    XOR Var71    XOR Var23

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:13-11..13-21: error: Data type mismatch for '*' expression.
/tmp/tmp4n2cor7_/st_gen.st:13-35..13-47: error: Data type mismatch for '*' expression.
/tmp/tmp4n2cor7_/st_gen.st:13-78..13-89: error: Data type mismatch for '*' expression.
/tmp/tmp4n2cor7_/st_gen.st:13-96..13-107: error: Data type mismatch for '*' expression.
/tmp/tmp4n2cor7_/st_gen.st:13-113..13-123: error: Data type mismatch for '-' expression.
5 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var2 : BOOL;
        Var52 : BOOL;
        Var23 : BOOL;
        Var25 : BOOL;
        Var93 : BOOL;
        Var58 : BOOL;

    END_VAR

Var25 := Var2 * Var93 / Var58 -  NOT 35 * Var93 / Var25 / 0 < (Var23 + (2 + Var52 * Var23)) + Var52 * Var93 / (Var52 - Var2) / 8 / Var93 / Var58 * Var2+ Var52+ Var58

;


END_PROGRAM

>>>stdout

>>>stderr
/tmp/tmp4n2cor7_/st_gen.st:25-8..25-22: error: Data type mismatch for '-' expression.
/tmp/tmp4n2cor7_/st_gen.st:25-8..25-34: error: Invalid data type for 'WHILE' condition.
2 error(s) found. Bailing out!

>>>returncode
1
>>>FILE

PROGRAM program0
    VAR
        Var43 : BOOL;
        Var42 : BOOL;
        Var68 : BOOL;

## 结论与展望

根据语法规则生成的输入很难找到 iec2c 翻译器的漏洞，因为语法规则本身就是正确的，很难产生崩溃等异常情况

后续展望使用交叉变异，源码插桩的方式对 openplc 进行更深入的模糊测试。
因为时间有限，未能完成。

## 参考资料

[EBNF for Pascal](http://www.cs.kent.edu/~durand/CS43101Fall2004/resources/Pascal-EBNF.html)